


<section class="px-5 pt-5 ">

<div class="table-responsive mt-5">
    <a href="/admin/export_to_excel" class="my-2 mb-4 btn btn-success">Export to Excelf</a>
  <table class="table table-borderless " id="usertable">
    <thead class="" >
      <tr class="border border-1 border-seconday border-start-0 border-end-0">
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">OrderID</th>
        <th scope="col">User</th>
        <th scope="col">Products</th>
        <th scope="col">payment</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
  

      </tr>
    </thead>
    <tbody>
   {{#each SalesReport}}
      <tr>
        <th scope="row"></th>
        <td>{{this.date}}</td>
        <td>{{this._id}}</td>



        <td>
        {{#each this.users}}
            {{this.name}}
        {{/each}}
            </td>


        

        <td>
       {{#each this.product}}
            {{this.name}} <br>
        {{/each}}
            
            </td>


        <td>{{this.paymentMethod}}</td>

        <td>{{this.status}}</td>

        <td>{{this.totalPrice}}</td>
  
    
  


          
      </tr>

{{/each}}

    </tbody>
  </table>
</div>



</section>




<script>

$(document).ready( function () {
    $('#usertable').DataTable();
} );
</script>


