


<section class="px-5 pt-5 ">

<div class="table-responsive mt-5">
  <table class="table table-borderless " id="usertable">
    <thead class="" >
      <tr class="border border-1 border-seconday border-start-0 border-end-0">
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
   {{#each allUsersDetails}}
      <tr>
        <th scope="row"></th>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.address}}</td>
        <td>{{this.phone}}</td>
  
         
        <td>

            {{#if this.blocked}}

    
           <a data-bs-toggle="modal" data-bs-target="#{{this.name}}Model" class="btn btn-success ">Unblock</a>


                   <div class="modal fade" id="{{this.name}}Model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLabel">Are you sure to Unblock {{this.name}} ?</h5>
      
      </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="/admin/Unblock/{{this._id}}" type="button" class="btn btn-success">Unblock</a>
      </div>
    </div>
  </div>
</div>
          
          {{else}}
                    <a data-bs-toggle="modal" data-bs-target="#ModelBlock{{this._id}}" class="btn btn-danger ">Block</a>



                    <div class="modal fade" id="ModelBlock{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure to Block {{this.name}} ?</h5>
      
      </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="/admin/block/{{this._id}}" type="button" class="btn btn-danger">Block</a>
      </div>
    </div>
  </div>
</div>
          {{/if}}


 


          </td>
          
      </tr>

{{/each}}

    </tbody>
  </table>
</div>



</section>




<script>

$(document).ready( function () {
    $('#usertable').DataTable();
} );
</script>


