



<!-- Example single danger button -->



<section class="px-5 pt-5  ">

    <a href="/admin/add-subCategory" class="btn btn-primary mb-2">Add Sub Category</a>
    








<div class="table-responsive mt-5" style="max-width: 70vw; margin:auto">
  <table class="table  table-borderless align-middle " id="productTable">
    <thead class="" >
      <tr class="border border-1 border-seconday border-start-0 border-end-0">
        <th class="fit" scope="col">#</th>
        <th  class="fit"  scope="col">Title</th>
        <th class="fit"   scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
   {{#each subCategory}}
      <tr>
        <th></th>
        <td  class="fit" >
          {{this.name}}
        </td>  
        <td  class="fit" >


    

                    <a data-bs-toggle="modal" data-bs-target="#{{this.name}}Model" class="btn btn-danger ">Delete</a>



                    <div class="modal fade" id="{{this.name}}Model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure to Delete {{this.name}} ?</h5>
      
      </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="/admin/delete-subCategory/{{this._id}}" type="button" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
       
          </td>
          
      </tr>

{{/each}}

    </tbody>
  </table>
</div>




</section>

