  <section class="h-100 h-custom">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">


                <!-- left side -->
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      {{!-- <h6 class="mb-0 text-muted">3 items</h6> --}}
                    </div>
                    <hr class="my-4">



                    {{#each cartProduct}}
            
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                         src="/product-images/{{this.product._id}}.jpg"
                          class="img-fluid rounded-3" alt="ProductImage">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{this.product.category}}</h6>
                        <h6 class="text-black mb-0">{{this.product.name}}</h6>
                      </div>

                 
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2"
                            onclick="changeQuantity('{{this.product.price}}','{{this._id}}','{{this.product._id}}',-1)">
                          <i class="fas fa-minus"></i>
                        </button>
  
                        <input id="{{this.product._id}}" name="quantity" value="{{this.quantity}}" type="number"
                          class="form-control form-control-sm" />

           
  
                        <button class="btn btn-link px-2"
                          onclick="changeQuantity('{{this.product.price}}','{{this._id}}','{{this.product._id}}',1)">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    
                        <h6 class="mb-0">{{this.product.price}}</h6>
                  
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a data-bs-toggle="modal" data-bs-target="#a{{this.product._id}}Model"  class="text-muted" ><i  class="fas fa-times"></i></a>

             



                    <div class="modal fade" id="a{{this.product._id}}Model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure to Remove {{this.product.name}} ?</h5>
      
      </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="/remove-product/?cartId={{this._id}}&proId={{this.product._id}}" type="button" class="btn btn-danger">Remove</a>
      </div>
    </div>
  </div>
</div>








                      </div>
                    </div> 
  
                    <hr class="my-4">
                
  {{/each}}
                    <div class="pt-5">
                      <h6 class="mb-0"><a href="/" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>

                <!-- right side -->
                <div class="col-lg-4">
                  <div class="p-5 ">

                    <!-- card -->
                    <div class="card"> 
                      <div class="card-header py-3 bg-white">
                        <h5 class="mb-1">Summary</h5>
                      </div>
                      <div class="card-body">
                        <ul class="list-group list-group-flush">
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            Products
                            <span id="totlaprice">{{totalPrice}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            Shipping
                            <span>Free</span>
                          </li>
                          <li class="coupon list-group-item d-flex justify-content-between align-items-center px-0 ">
                            Apply Coupon
                            <span>
                              <form action="#">
                                
                                <div class="form-outline ">
                                  <input  style="font-size:10px ;" type="text" id="form3Examplea2" class="form-control"  placeholder="Try New book" />
                               
                                </div>
                         
                              
                             
                            </span>
                          </li>
                          <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                              <strong>Total amount</strong>
                              <strong>
                                <p class="mb-0">(including GST)</p>
                              </strong>
                            </div>
                            <strong>$<span id="finalcost" >{{totalPrice}}</span></strong>
                          </li>
                        </ul>
                        <div class="button d-grid ">
                          <a href="/place-order" style="background-color: #eb227ddb;  color: #ffff;" type="submit"  class="btn ">Place Order</a>
                        </div>
                      </form>
                      </div>
                    </div>
                   

                    <!-- card -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <script>

    function changeQuantity(prodPrice,cartId,proId,count){
      console.log("working")
      const quantity = parseInt(document.getElementById(proId).value)
      count= parseInt(count)
      $.ajax({
        url:'/change-pro-quantity',
        data:{
          cart:cartId,
          product:proId,
          count:count,
          quantity:quantity
        },
        method:'post',
        success:(response)=>{

     if(response.removeProduct){
      location.reload()
     }else{
    document.getElementById(proId).value = quantity+count

      const totalPriceFeald =document.getElementById("totlaprice")
      const finalPriceFeald =document.getElementById("finalcost")
      const cartIndication = document.getElementById("cart-count")

      // changing the product price,quantity accoding to ajx action
      const currentPrice = parseInt(totalPriceFeald.innerHTML) 
      const currentFinalPrice = parseInt(finalPriceFeald.innerHTML)
      const currentCartCount = parseInt(cartIndication.innerHTML)
      
      //changing the cart count 
        cartIndication.innerHTML=currentCartCount+count

      
      
      //changing the total price of price feald
      if(count== -1){
        totalPriceFeald.innerHTML=(currentPrice-parseInt(prodPrice))
        finalPriceFeald.innerHTML=(currentFinalPrice-parseInt(prodPrice))
      }else{
        totalPriceFeald.innerHTML=(currentPrice+parseInt(prodPrice))
          finalPriceFeald.innerHTML=(currentFinalPrice+parseInt(prodPrice))
      }
     }
        }
      })
    }

   
  </script>