<div class="wrapper">
  <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-12">
        <div class="card mt-4">
          <div
            class="row mt-5"
            style="display: flex;
    align-items: center;"
          >
            <div class="col-md-4">
              <div class="images">
                <div id="zoom-image-container" class="text-center" style="width: 250px;margin:auto">
                  <img id="main-image" src="/product-images/{{productDetails._id}}.jpg" alt="image" width="100%" />
            
                </div>
            
              </div>
            </div>
            <div class="col-md-8">
              <div class="product p-4">

                <div class="mt-4 mb-3">
                  <h5
                    style="font-size:23px  ;"
                    class="text-uppercase"
                  >{{productDetails.name}}</h5>
                  <span
                    class="text-uppercase text-muted brand"
                  >-{{productDetails.authname}}</span>
                  <div class="mt-3 price d-flex flex-row align-items-center">
                    <span class="act-price me-2">RS.
                      {{productDetails.price}}</span>
                    <div class="ml-2">
                      <small class="dis-price">RS. 59</small>
                      <span>40% OFF</span>
                    </div>
                  </div>
                </div>
                <p
                  style="line-height: 35px;"
                  class="about"
                >{{productDetails.discription}}</p>

                <div class="cart mt-4 align-items-center d-flex gap-4">
                  <a
                    style="background-color: #f36d98;color: #fff;"
                    class="btn text-uppercase mr-2 px-4"
                  >Add to Wishlist</a>
                  <a
                    onclick="addTocart('{{productDetails._id}}')"
                    style="background-color: #4D98AD;color: #fff;"
                    class="btn text-uppercase mr-2 px-4"
                  >Add to cart</a>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{{! <script src="/javascripts/zoom.js"></script> }}
<script
  src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js"
  type="application/javascript"
></script>

<script>
if(screen.width > 768){
  		var options = {
    width: 250,
    zoomWidth: 250,
    zoomPosition:"original",
    scale:"1.1",
    offset: {vertical: 5, horizontal: 10},
    zoomStyle:"border-radius: 10px;"
};

new ImageZoom(document.getElementById("zoom-image-container"), options);

}

</script>

<style>
  .card { border: none } .product {} .brand { font-size: 13px } .act-price {
  font-weight: 700 } .dis-price { text-decoration: line-through } .about {
  font-size: 19px } .color { margin-bottom: 10px } label.radio { cursor: pointer
  } label.radio input { position: absolute; top: 0; left: 0; visibility: hidden;
  pointer-events: none } label.radio span { padding: 2px 9px; border: 2px solid
  #ff0000; display: inline-block; color: #ff0000; border-radius: 3px;
  text-transform: uppercase } label.radio input:checked+span { border-color:
  #ff0000; background-color: #ff0000; color: #fff } .btn-danger {
  background-color: #ff0000 !important; border-color: #ff0000 !important }
  .btn-danger:hover { background-color: #da0606 !important; border-color:
  #da0606 !important } .btn-danger:focus { box-shadow: none } .cart i {
  margin-right: 10px }
</style>