<section class="section-products">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-8 col-lg-6">
        <div class="header">
         
          <h2>Showing All Books</h2>
        </div>
      </div>
    </div>
    <div class="row">



{{#each products}}
     {{!-- product --}}
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-1" class="single-product">
          <div class="part-1">
            <div style="width:300px;height:300px;"  class="div">
                    <img class="img-fluid" src="/product-images/{{this._id}}.jpg" alt="image">
            </div>
            <ul>
              {{!-- add to cart --}}
              <li >
            
                <a  onclick="addTocart('{{this._id}}')" ><i class="fas fa-shopping-cart"></i></a>

      
                </li>
              {{!-- add to fav --}}
              <li><a href="#"><i  class="fas fa-heart"></i></a></li>
              {{!-- detail view --}}
              <li>

                <a href="/product-details/{{this._id}}"><i class="fas fa-expand"></i></a>
                
                </li>
            </ul>
          </div>
          <div class="part-2 text-center">
            <h3 class="product-title ">{{this.name}}</h3>
      
            <p>-By {{this.authname}}</p>
            <div id="cover">
               <h4 class="product-old-price ">500.99</h4>
            <h4 class="product-price ">{{this.price}}</h4>
            <h4 class="product-offer">(10% off)</h4>
            </div>
           
          </div>
        </div>
      </div>
    {{!-- product --}}

 {{/each}}
    </div>
  </div>
</section>